/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
} */
.class{
  display: flex;
  align-items: center;
  justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* img{
  height: 500px;
}
video{
  height: 500px;
} */
